$main-font: "Roboto", sans-serif;
$title-font: "Shrikhand", sans-serif;
$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;
$background-color: #f6f6f6;
$shadow-color: #c6c6c6;
$gradient-button: linear-gradient(to bottom right, #ff79da, #9356dc);
